In [3]:
import pandas as pd
path = "/home/mercury/documents/OngoingProjects/bdm-lab/MINER/DRU/DRU/SNOLABBackgrounds/"

In [8]:
Th = pd.read_csv(path + "SnoLab_Th-gamma_albedo.dat", "\t")

In [11]:
Th["0"] = Th["0"]*1000

In [13]:
Th = Th[Th["0"] <= 400]

In [14]:
Th

        0     0.1
0     5.0      45
1    15.0     218
2    25.0     610
3    35.0    1384
4    45.0    8303
5    55.0   42064
6    65.0  103992
7    75.0  169038
8    85.0  219333
9    95.0  246462
10  105.0  253900
11  115.0  255967
12  125.0  278213
13  135.0  246943
14  145.0  230537
15  155.0  214757
16  165.0  201620
17  175.0  192498
18  185.0  187319
19  195.0  180029
20  205.0  208643
21  215.0  165344
22  225.0  160920
23  235.0  528783
24  245.0  139201
25  255.0   99650
26  265.0   95746
27  275.0  140192
28  285.0   84133
29  295.0  111766
30  305.0   75607
31  315.0   73576
32  325.0  100333
33  335.0  175671
34  345.0   58215
35  355.0   57224
36  365.0   54673
37  375.0   53212
38  385.0   52261
39  395.0   50906